<!--Footer with links-->
<footer class="text-center text-dark" style="background-color: #55d6aa">
  <div class="container">
    <section class="mt-5">
      <!--Footer row-->
      <div class="row text-center d-flex justify-content-center pt-3">
        <!--Footer columns-->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/">Home</a>
          </h6>
        </div>
        {{!-- nav bar on footer if logged in --}}
        {{#if loggedIn}}
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/profile">Profile</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/offer">Offer</a>
          </h6>
        </div>
        {{!-- Wishlist Under Construction --}}
        {{!-- <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/user/wishlist">Wishlist</a>
          </h6>
        </div> --}}
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/logout">Logout</a>
          </h6>
        </div>
        {{else}}
        {{/if}}
      </div>
    </section>
    <hr />
  </div>

  <!-- 2024 copyright: names and github links go here. -->
  <div class="text-center p-2" style="background-color: #55d6aa">
    <p class="text-muted">© 2024 Copyright:</p>
    <a class="text-muted" href="https://github.com/XelaukDain">XelaukDain</a>
    <a class="text-muted" href="https://github.com/A-Raschke">A-Raschke</a>
    <a class="text-muted" href="#">Noah</a>
    <a class="text-muted" href="#">Ryan</a>
  </div>
</footer>