{{!-- create offer if logged in --}}
{{#if loggedIn}}
<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="72" height="57">
            <h2>Giv Item</h2>
            <p class="lead">Please fill out the form below to offer donating items to users willing to pick up.
                You can use your own home address or offer to donate at an alternate location.
            </p>
        </div>
        <hr class="my-4">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Donation info:</h4>
            <form class="create-form" novalidate="">
                <div class="row g-3">
                    <fieldset disabled>
                        <div class="col-12">
                            <label for="username-create" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username-create" value="{{user.username}}" placeholder="{{user.username}}"
                                    required="">
                            </div>
                        </div>
                    </fieldset>

                    <div class="col-12">
                        <label for="title-create" class="form-label">Item:</label>
                        <input type="title" class="form-control" id="title-create" placeholder="Item name...">
                        <div class="invalid-feedback">
                            Item name is required.
                        </div>
                    </div>



                    <div class="col-12">
                        <label for="description-create" class="form-label">Description:</label>
                        <textarea type="text" class="form-control" id="description-create" placeholder="Short Description..."
                            required="" rows="6"></textarea>
                        <div class="invalid-feedback">
                            Please enter a short description.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="location-create" class="form-label">Pickup location:</label>
                        <textarea type="text" class="form-control" id="location-create" placeholder="Address..."
                            rows="3"></textarea>
                        <div class="invalid-feedback">
                            Please enter a valid location.
                        </div>
                    </div>
                    
                    <hr class="my-4">

                    <div class="row">

                        <div class="col-md-5 mb-3">
                            <label for="type-create">Category</label>
                            <select class="custom-select d-block w-100" id="type-create" required="">
                                <option value="">Choose...</option>
                                <option>Clothing</option>
                                <option>Shoes</option>
                                <option>Accessories</option>
                                <option>Home Goods</option>
                                <option>Electronics</option>
                                <option>Books or Media</option>

                            </select>
                            <div class="invalid-feedback">
                                Please select a valid category.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    {{!-- photo upload stuff --}}
                    <h4 class="mb-3">Photo Upload</h4>
                    <div class="mb-3">
                        <label for="image-create" class="form-label">Please upload an image of the item:</label>
                        <input class="form-control" type="file" id="image-create" multiple>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-warning btn-lg" type="submit">Post Donation</button>
            </form>
        </div>
</div>
</main>
{{!-- login screen if not logged in --}}
{{else}}
<div class="b-example-divider"></div>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Login or Signup to Create Posts</h1>
            <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
                popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/login" type="button" class="btn btn-warning btn-lg px-4 me-md-2 fw-bold">Sign Up</a>
                <a href="/" type="button" class="btn btn-outline-secondary btn-lg px-4">Return</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
        </div>
    </div>
</div>
{{/if}}