<!-- Main Content -->
<div class="bg-warning">
  <section class="py-5 text-center container bg-light">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Giv-Hub!</h1>
        <p class="lead text-muted">Your #1 website for donations to anyone willing to pick-up at location free of
          hassle!
          Arrange for a donation to be picked up at home or set a location nearby.</p>
        {{!-- <p>
          <a href="#" class="btn btn-warning my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p> --}}
      </div>
    </div>
  </section>

  <div class="album py-5 bg-image">
    <div class="container">
      {{!-- sections populate here --}}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{#each sections as |section|}}
        {{> section-details}}
        {{/each}}

      </div>
    </div>
  </div>
</div>