{{!-- <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div> --}}
  {{!-- <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div> --}}



    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Create A Free Account</h1>
                <p class="col-lg-10 fs-4">In order to use the application features you must make a account. You can set username, pfp, and other preferences after you create your login credintials.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <!-- Sign-up Form -->
                <form class="form submit-signup p-4 p-md-5 border rounded-3 bg-light">
                    <div class="form-floating mb-3">
                      <input type="username" class="form-control" type="text" id="username-signup" />
                      <label for="username-signup">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email-signup">
                        <label for="email-signup">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password-signup">
                        <label for="password-signup">Password</label>
                    </div>
                    {{!-- <div class="checkbox mb-3">
                        <label>
                            <input id="rememberMeCheckbox" type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div> --}}
                    <button class="w-100 btn btn-lg btn-warning" type="submit">Sign up</button>
                    <hr class="my-4">
                    <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                </form>
                <!-- Log in -->
                <div>
                  <p class="col-lg-10 fs-4">Already a member?</p>
                  <form class="form submit-login p-4 p-md-5 border rounded-3 bg-light">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" type="text" id="email-login" />
                      <label for="email-login">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password-login">
                        <label for="password-login">Password</label>
                    </div>
                    {{!-- <div class="checkbox mb-3">
                        <label>
                            <input id="rememberMeCheckbox" type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div> --}}
                    <button class="w-100 btn btn-lg btn-warning" type="submit">Log in</button>
                    <hr class="my-4">
                </form>
                </div>
            </div>
        </div>
    </div>